<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>button_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,32}}</string>
        <key>sourceSize</key>
        <string>{64,32}</string>
      </dict>
      <key>wood_plat.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{62,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{62,22}}</string>
        <key>sourceSize</key>
        <string>{64,24}</string>
      </dict>
      <key>wood_plat_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{56,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,32}}</string>
        <key>sourceSize</key>
        <string>{56,32}</string>
      </dict>
      <key>lense.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,22},{46,30}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,1},{46,30}}</string>
        <key>sourceSize</key>
        <string>{56,32}</string>
      </dict>
      <key>bag_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,32},{42,29}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{42,29}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>rect_patch.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{30,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>rect_patch2.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{30,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>craft_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{28,27}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{28,27}}</string>
        <key>sourceSize</key>
        <string>{33,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>ui_page.png</string>
      <key>size</key>
      <string>{270,61}</string>
      <key>textureFileName</key>
      <string>ui_page</string>
    </dict>
  </dict>
</plist>
